@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
h2{
  color: rgba(236, 237, 238, 0.955);
  margin: 10px;
}
.calculater{
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113,115,119,0.6);
}
input{
  width: 320px;

  border-radius: 10px;
  padding: 24px;
  margin: 10px;
  background: transparent;
   box-shadow: 0px 0px 15px rgba(255,255,255,0.1);
  font-size: 40px;
  cursor: pointer;
  text-align: right;
  color:rgba(236, 237, 238, 0.955);;
}
input::placeholder{
  color:rgba(236, 237, 238, 0.955);
}
button{
  border: none;
  width:60px ;
  height: 60px;
  margin: 10px;
  border-radius: 50px;
  background: transparent;
  color: rgba(236, 237, 238, 0.955);
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
  cursor: pointer;;
}
.equal-btn{
  background: rgba(242, 105, 7, 1);
}
.operator{
  color: rgb(5, 253, 30);
}